{% extends 'base.html'%}

    {% block title %}<title>Accounts</title> {% endblock title %}





    {% block content%}
   <header>
        <nav>
            <a href="{% url 'home'%}">Home</a>
        </nav>
    </header>
    <main>
        <h1>Accounts</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number Of Receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for item in accounts_list %}
                <tr>
                <td>{{item.name}}</td>
                <td>{{item.number}}</td>
                <td>{{item.receipts.count}}</td>
            </tr>
                    {% endfor %}
        </tbody>
        </table>
    </main>
    {% endblock content%}
