{% extends 'base.html'%}

    {% block title %}<title>Categories</title> {% endblock title %}




    {% block content%}
    <header>
        <nav>
            <a href="{% url 'home'%}">Home</a>
        </nav>
    </header>
    <main>
        <h1>Categories</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number Of Receipts</th>
                </tr>
            </thead>
            <tbody>
                    {% for item in categories_list %}
                <tr>
                <td>{{item.name}}</td>
                <td>{{item.receipts.count}}</td>

            </tr>
                    {% endfor %}
        </tbody>
        </table>
    </main>
    {% endblock content%}
